body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#myButton{
    font-size: 4rem;
    margin:10px;
    border-radius: 5px;
    padding:10px 15px;
}
.enabled{
    background-color:lightblue ;
    color:white;
}

.hover{
    box-shadow: 0 0 10px black;
    font-weight: bold;
}
.disabled{
    background-color:rgb(104, 104, 104) ;
    color:rgb(168, 168, 168);
}

#myH1{
    font-size: 5rem;
}